@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Roboto+Flex:opsz,wght@8..144,600&family=Roboto+Serif:ital,opsz,wght@0,8..144,400;0,8..144,500;1,8..144,500&family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap");

/* Global Configuration
/* color palette from <https://github.com/vuejs/theme> */
:root {
  
  /* Typography */
  --serif-font-family: "Lora", "Garamond", serif;
  --sans-serif-font-family: "Roboto Flex", "Helvetica", sans-serif;

  /* Colors */
  --c-med-grey: #D6D6D6;
  --c-white: #ffffff;
  --c-light-grey: #ededed;
  --c-black: #000000;
  --c-dark-grey: 
}

/* Light mode color scheme */
/* semantic color variables for this project */
:root {
  --color-background: var(--c-light-grey);
  --color-text: var(--c-black);
}

/* Selector that selects all elements. */

* {
  font-family: var(--sans-serif-font-family);
  font-size: 20px;
  line-height: 150%;
  background-color: var(--color-background);
  color: var(--color-text);
  text-rendering: optimizeLegibility;
  margin: 0px;
}

/* Structure */

/* Browsers automatically add 8px margin to body. To get rid of it, set it as 0. */

body {
  margin: 0px;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
}

/* On page load, fade body in. */ 
@keyframes fadeInAnimation  {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.layout {
  max-width: 1000px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 00px;
}

/* Flex Container in the Row Direction */
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  /* align-items: center; */
  gap: 75px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container-item {
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  height: 100%;
}


/* Flex Gallery Container */ 
.container-gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container-gallery-item {
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 1;
  height: 600px;
  width: 100%;
  transition: .3s ease;
  backface-visibility: hidden;
  margin-bottom: 50px;
}


.container-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  background-color: transparent;
}




/* Links */ 
a {
  text-decoration: none;
}


/* 
a:hover {
  opacity: 0.5;
} */

.container-button {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 75px;

}

/* Image Hover */

.multiply {
  mix-blend-mode: multiply;
}

.fullcap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  background-color: var(--c-med-grey);
  color: var(--c-black);

}
 
/* (D) SHOW/HIDE */
.fullcap {
  visibility: none; opacity: 0;
  transition: opacity 0.3s;
}

.fullcap:hover {
  visibility: visible; opacity: .85;
}


.social {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.2s;
}

.social:hover {
  border-bottom: 3px solid #333333;
  overflow: hidden;
  margin-bottom: -3px;
  opacity: 0.5;
}


/* Typography */

h1 {
  font-family: var(--serif-font-family);
  font-weight: 600;
  font-size: 52px;
  overflow-wrap: anywhere;
  background-color: transparent;

}

h2 {
  font-family: var(--serif-font-family);
  font-weight: 600;
  font-size: 36px;
  overflow-wrap: anywhere;
  background-color: transparent;

}

.text-body-large {
  font-size: 24px;
  overflow-wrap: anywhere;
  background-color: transparent;

}

strong {
  font-weight: 700;
  background-color: transparent;

}

.text-body-small {
  font-size: 16px;
  background-color: transparent;

}

/* Buttons */ 

.container-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}


.container-button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}



.container-button-item {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-top: 20px;

}
