/* Import fonts from Google that will be used in this page. */

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Roboto+Flex:opsz,wght@8..144,600&family=Roboto+Serif:ital,opsz,wght@0,8..144,400;0,8..144,500;1,8..144,500&family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap");

/* Global Configuration
/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* Typography */
  --serif-font-family: "Lora", "Garamond", serif;
  --sans-serif-font-family: "Roboto Flex", "Helvetica", sans-serif;

  /* Colors */
  --c-med-grey: #d6d6d6;
  --c-white: #ffffff;
  --c-light-grey: #ededed;
  --c-black: #000000;
  --c-dark-grey: ;
}

/* Light mode color scheme */
/* Semantic color variables for this project */
:root {
  --color-background: var(--c-light-grey);
  --color-text: var(--c-black);
}

/* Selector that selects all elements. */

* {
  font-family: var(--sans-serif-font-family);
  font-size: 20px;
  line-height: 150%;
  background-color: var(--color-background);
  color: var(--color-text);
  text-rendering: optimizeLegibility;
  margin: 0px;
}

/* Structure */

/* Browsers automatically add 8px margin to body. To get rid of it, set it as 0. */
body {
  margin: 0px;
}

/* Base layout currently designed for wider screens with media queries for mobile in the mediaqueries.css file. */
.layout {
  max-width: 1000px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
}

/* Flex container in the row direction */
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  
}

/* Item that goes into the flex container in column. */
.container-item {
  display: flex;
  flex-direction: column;
}

.container-item-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container-image-row {
  width: 80%;
  height: 150px;
  object-fit: contain;
  background-color: transparent;
}

/* Flex gallery container - used when there are a series of images to be displayed, like on the landing page. */
.container-gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container-gallery-item {
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 1;
  height: 600px;
  width: 100%;
  transition: 0.3s ease;
  backface-visibility: hidden;
  margin-bottom: 50px;
}

/* Ensures the image fills up the container and scales properly. */
.container-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  background-color: transparent;
}

/* Links */
a {
  text-decoration: none;
}

/* Buttons */

.container-all-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;

}


.container-button-item {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-top: 20px;
}


.button {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.2s;
}

.button:hover {
  border-bottom: 3px solid #333333;
  overflow: hidden;
  margin-bottom: -3px;
  opacity: 0.5;
}


/* Container footer */

.container-main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-med-grey);
  margin-top: 100px;
}
.container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: transparent;
}

/* Image Multiply used on Single Project Page Vue file */
.multiply {
  mix-blend-mode: multiply;
}

/* Image Hover */
.fullcap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--c-med-grey);
  color: var(--c-black);
}

/* Full cap hover on images */
.fullcap {
  visibility: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.fullcap:hover {
  visibility: visible;
  opacity: 0.85;
}



/* Typography */

h1 {
  font-family: var(--serif-font-family);
  font-weight: 600;
  font-size: 52px;
  overflow-wrap: anywhere;
  background-color: transparent;
}

h2 {
  font-family: var(--serif-font-family);
  font-weight: 600;
  font-size: 36px;
  overflow-wrap: anywhere;
  background-color: transparent;
}

.text-body-large {
  font-size: 20px;
  overflow-wrap: anywhere;
  background-color: transparent;
}

strong {
  font-weight: 700;
  background-color: transparent;
}

.text-body-small {
  font-size: 16px;
  background-color: transparent;
}

