@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Roboto+Flex:opsz,wght@8..144,600&family=Roboto+Serif:ital,opsz,wght@0,8..144,400;0,8..144,500;1,8..144,500&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

/* Global Configuration
/* color palette from <https://github.com/vuejs/theme> */
:root {
    /* Typography */
    --serif-font-family: "Lora", "Garamond", serif;
    --sans-serif-font-family: "Roboto Flex", "Helvetica", sans-serif;
  
    /* Colors */
    --c-med-gray: #E4E3E3;
    --c-white: #FFFFFF;
    --c-black: #000000;
  }

  /* Light mode color scheme */
/* semantic color variables for this project */
:root {
    --color-background: var(--c-white);
    --color-text: var(--c-black);
  }


  * {
    font-family: var(--sans-serif-font-family);
    font-size: 20px;
    line-height: 150%;
    background-color: var(--color-background);
    color: var(--color-text);
    text-rendering: optimizeLegibility;

  }

  /* Structure */

  .layout {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
  }

  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 75px;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .container-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .container-image {
    display: flex;
    flex-direction: column;
    width: 300px;

  }
  

  /* Navigation Bar */

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
    margin-bottom:147px;
  }

  .nav-links {
    list-style: none;
    display: flex;
    width: 344px;
    justify-content: space-between;

  }

  .nav-item a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
  }

  .nav-item:hover a {
    text-decoration:underline;
  }

  .navbar-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  /* Typography */

  h1 {
    font-family: var(--serif-font-family);
    font-weight: 600;
    font-size: 64px;
    overflow-wrap: anywhere;
    margin: 0px;
  }
  
  h2 {
    font-family: var(--serif-font-family);
    font-weight: 600;
    font-size: 40px;
    overflow-wrap: anywhere;
    margin: 0px;
  }
  
  .text-body-large {
    font-family: var(--sans-serif-font-family);
    font-size: 32px;
    overflow-wrap: anywhere;
    margin: 0px;
  }
  
  strong {
    font-weight: 700;
    margin: 0px;
  }
  
  .text-body {
    font-family: var(--sans-serif-font-family);
    line-height: 150%;
    margin: 0px;
  }
  
  .footer-text{
    background-color:var(--c-deep-green);
    color: var(--c-off-white);
    margin: 0px;
  }